<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand titleBar py-3">
        <%for(i=0;i<nav.length;i++){%>
        <a class="text-white ml-5" href='<%=nav[i].link%>'><%=nav[i].name%></a>
        <%}%>
    </nav>
    <div class="container-fluid titleBar2 py-4">
        <h1 class="display-3 ml-5 text-white pb-5"><strong><%=title%></strong></h1>
        </div>
        <div class="container ">
            <form class="container col-md-5 signupform bg-white my-4 py-3 formShadow" method="GET"
                action="/admin/addBook/add" , onsubmit="return validate()">
                <label class="form-label ">ENTER BOOK TITLE:</label>
                <input class="form-control " type="text" placeholder="Book Title" id="title" name='title'>
                <br>
                <label class="form-label">ENTER BOOK AUTHOR:</label>
                <input class="form-control " type="text" placeholder="Book Author" id="author" name="author">
                <br>
                <label class="form-label">ENTER BOOK GENRE:</label>
                <input class="form-control " type="text" placeholder="Book Author" id="genre" name="genre">
                <br>
                <label class="form-label ">UPLOAD IMAGE:</label>
                <input class="form-control " type="file" id="image" name="image">
                <br>
                <div class="text-center">
                <button type="submit" class="btn loginbutton" id="add">ADD</button>
                </div>
            </form>
        </div>
        <footer class="border bt-2 my-3">
            <h1 class="text-muted foot display-5 bold mt-3">Follow Us</h1>
            <div class=" btn-group foot" role="group">
                <button class="btn twt">Twitter</button>
                <button class="btn fb">Facebook</button>
                <button class="btn googleplus">Google+</button>
            </div>
        </footer>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/addBook.js"></script>
</body>

</html>